{% for book in books %}
<tr>
  <td>{{ book.id }}</td>
  <td>{{ book.title }}</td>
  <td>{{ book.author }}</td>
  <td>{{ book.get_book_type_display }}</td>
  <td>{{ book.publication_date }}</td>
  <td>{{ book.pages }}</td>
  <td>{{ book.price }}</td>
  <td style="width: 150px">
    <button type="button" title="Edit" class="btn btn-warning btn-sm js-update-book"
      data-url="{% url 'book_update' book.id %}">
      <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <button type="button" title="Delete" class="btn btn-danger btn-sm js-delete-book"
      data-url="{% url 'book_delete' book.id %}">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
    

  </td>
</tr>
{% empty %}
<tr>
  <td colspan="8" class="text-center bg-warning">No book</td>
</tr>
{% endfor %}